<head></head>
<body>
<h1>SIGN UP</h1>
<center>
<%= form_for @user do |f| %>
	
	<label>Username</label>
	<%= f.text_field :name %>
	<p>

	<label>Email</label>
	<%= f.text_field :email %>
	<p>

	<label>Password</label>
	<%= f.password_field :password %>
	</center>
	<b>
	<b>
	<p>
	<center>
	<p>
	<p>
	<p>
	<%= f.submit "Create Account" %>
	<% end %>
<p>
<p>
<p>
	<img src=http://s3.amazonaws.com/codecademy-blog/assets/ninja_zpsa5dbe37a.jpg>

	</center>
	

</body>